@import 'variaveis';
@import 'reset';
@import '_menu';
@import 'hero';

@import 'footer';
@import 'swipper';
@import 'bootstrap';

@media only screen and (max-width: 770px) {
    /* Adicione seus estilos aqui */
    .capa_fundo{
        background-position: center;
        width: 100%;
        max-width: 100vh;
        margin-top: 0px;
        height: 50vh;
        margin: 0 auto;
    }
    .btn_one,.btn_two{
        display: none;
    }
    
    .botoes{
        padding-top: 6em;
        border: none;
        display: flex;
        flex-direction: row;
        margin-left: -2em;
    }
    .botoes button{
        font-size: 0.8em;
        
        
        
    }

    .menu{
        background-image: $corFundoMenu;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 5px;
        z-index: 3;
        position: fixed;
    }

    .navigation{
        display: flex;
        justify-content:left;
        flex-wrap: wrap;
        
    }
    .logo{
        text-align: center;
        font-size: 1.6em;
        margin-right: 7px;
        margin-left: -1em;
    }
    #botaoHamburguer{
        display: block;
        background-color: transparent;
        border: none;
        margin-bottom: 16px;
    }
    .logo_two{
        display: block;
    }
    .itemm{
        display: none;
    }
    
    footer .foter{
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;  
    }
      .title{
        font-size: 1.1em;
        color: $corLinkHover;
        padding-top: 0.5em;
        text-align: center;
        padding: 0.3em;
        margin-bottom: -3em;
    }
    .title_one{
        font-size: 1em;
        color: $corLinkHover;
        text-align: center;
        padding-left: 0.3em;
        margin-bottom: -3em;
    }

    .imgs{
        margin-left: -4em;
        transition: 0.5s;
        z-index: 2;
        padding: 1px;
    }
    .imgs:hover{
        z-index: 5;
        transform: scale(1.1);
    }
    
}